
/* special typography */

a.button {
	@include rounded(3px);	
	font-size: .9em;
	background: $primarycolor;
	padding: 10px;
	color:#fff;
	font-weight: $boldfontweight;
	text-transform: uppercase;
	position: relative;
	border:none;
	top: 0;
	left: 0;
	vertical-align: middle;
	margin: 0;
	line-height: 100%;
	cursor: pointer;
	width: auto;
	overflow: visible;
	text-decoration: none;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	line-height: 100%;
	zoom: 1;
	@include trans(.3s);
	&.small {
		padding: 6px;
		font-size: .8em;
	}
	&.medium {
		padding: 8px;
		font-size: .9em;
	}
	&.large {
		padding: 10px;
		font-size: 1.1em;
	}
	&.ghost {
		border: 1px solid #fff;
		color:#FFF !important;
  	border-radius: 5px;
  	background: none !important;
	}
	&:hover {
		background: $secondarycolor;
	}
}


