.noheaderimage {
  font-size: 2em;
	padding: 30px 0;
	background: $primarylightcolor;
	text-align: center;
	h1 {
		margin: 0;
	}
}

.header-content  {
	z-index: 1;
	position: absolute;
	width: 100%;
	top: 0;
}

.home-head {
	height: 98vh;
	position: relative;	
	a.bx-prev, a.bx-next {
		color: #fff !important;
	}
}

.noheadnav {
}



.siteid {
	h1 {
		margin: 18px 20px;
		padding: 0;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		width: 200px;
		height: 120px;
		z-index: 200;
		position: relative;
		font-size: 2em;
		a {
			display: block;
			color: #fff;
		}
	}
}

.bxslider {	
	&.slider-header {
		li {
			height: 102vh;
			display: block;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			color: #fff;
			text-align: center;
			&.overlayon:before {
				content: " ";
			  display: block;
				height: 378px;
			  width: 100%;
			  position: absolute;
			  bottom: 0;
			  left: 0;
			  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
			  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.05) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
			  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
			  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
			  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
			  -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
			  -ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
			  -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
			  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
			}
			&.overlayon:after {
				content: " ";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.5);
				-webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
				-moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
				-ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
				-o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
				transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
			}
		}
		.slide-content {
			position: absolute;
			top: 50%;
		  left: 50%;
		  margin:0;
		  line-height: 120%;
		  -webkit-transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
		  text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
		  z-index: 1;
		  font-size: 1.4em;
		}
		h2 {
			font-size: 2em;
			margin:0 0 30px 0;
			line-height: 100%;
			z-index: 1;
			position: relative;
		}
	}
}

.single-header-image {
	height: 102vh;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	color: #fff;
	text-align: center;
	&:before {
		content: " ";
	  display: block;
		height: 378px;
	  width: 100%;
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.05) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	  -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	  -ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	  -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	}
	&:after {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		-webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
		-moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
		-ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
		-o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
		transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	}
	.slide-content {
		position: absolute;
		top: 50%;
		left: 50%;
		margin:0;
		line-height: 120%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
		z-index: 2;
		font-size: 1.4em;
	}
}

.blurb-content {
	text-align: center;
}

.content-section {
	padding: 50px 0;
 	border-bottom: 1px solid $bordercolor;
 	h3.content-heading {
 		text-align: center;
 	}
	&.main-content-section {
		text-align: inherit;
		font-size: 1.2em;
	}
	&.general_content {
		padding: 0 0 40px 0;
	}
	&.bgimage_content_section {
		padding: 200px 0;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		font-size: 1.4em;
		p, h3 {
			position: relative;
			z-index: 1;
		}
		&.overlayon:before {
				content: " ";
			  display: block;
				height: 378px;
			  width: 100%;
			  position: absolute;
			  bottom: 0;
			  left: 0;
			  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
			  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.05) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
			  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
			  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
			  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
			  -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
			  -ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
			  -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
			  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
			}
			&.overlayon:after {
				content: " ";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.5);
				-webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
				-moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
				-ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
				-o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
				transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
			}
	}
	.videoembed {
		p {
			margin: 0; // embeds are put within p tags and need no margin to align
		}
	}
}



.bx-quote {
	padding-bottom:40px;
	font-style: italic;
	font-size: 1.6em;
	line-height: 133%;
}

.intro {
	font-size: 1.4em;
}

.cause-section {
	color: #fff;
	text-align: center;
	position:relative;
	margin:0 5% 5% 5%;	
	width: 90%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	h3 {
		color: #fff;
		text-transform: uppercase;
		display: inline-block;
	}
	p.intro {
		line-height: 130%;
	}
	a {
		color: #fff !important; 
		&:hover {
			 color: #fff !important;
		}
	}
	&:hover {
	    background: rgba(0, 0, 0, .6) !important;
	}
	&:after {
	  	content: "";
	  	opacity: 0.5;
	  	top: 0;
	  	left: 0;
	  	bottom: 0;
	  	right: 0;
	  	position: absolute;
	  	z-index: -1;  
	  	background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
	}
	a {
		display: block;
		padding: 140px 0;
	}
	.feature1,
	.feature2,
	.feature3,
	.feature4 {
			position: relative;
		&:hover {
			background: rgba(0, 0, 0, .6) !important;
		}
		&:after {
		 	content: "";
		  	opacity: 0.5;
		  	top: 0;
		  	left: 0;
		  	bottom: 0;
		  	right: 0;
		  	position: absolute;
		  	z-index: -1;  
		}
	}
}

// PAGES 

.page-head {
	height: 72vh;
	position: relative;
}

.page-header {
	height: 72vh;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	color: #fff;
	text-align: center;
	z-index: 1;
	position: absolute;
	width: 100%;
	top: 0;
	.page-header-content {
		position: absolute;
		top: 50%;
	  left: 50%;
	  -webkit-transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	  text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	  z-index: 1;
	  h1 {
		  margin:0;
		  font-size: 4em;
		  line-height: 120%;
	  }
	}
	&.overlayon:after {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		-webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
		-moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
		-ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
		-o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
		transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	}
	&.overlayon:before {
		content: " ";
	  display: block;
		height: 378px;
	  width: 100%;
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.05) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	  -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	  -ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	  -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	}
}

.post-body {
	padding-top: 30px;
}

.sidebar {
	padding-top: 40px;
	font-size: .9em;
	h4 {
		font-size: 1em;
	}
	ul {
		list-style: none;
	}
	.sidebar-section {
		margin-bottom: 40px;
	}
}

// FOOTER

.footer {
	border-top: 1px solid $bordercolor;
	font-size: .8em;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin:0;
		}
	}
}

.footer-wide {
	font-size: .9em;
}

ul.social-icons {
	list-style: none;
	margin:0;
	text-align: right;
	li {
		display: inline-block;
		margin:0;
		font-size: 2em;
	}
}





// Donate Page

.donate-template {
	height: 122vh;
}

.donate-page {
	height: 122vh;
	&:before {
		content: " ";
	  display: block;
		height: 82vh;
	  width: 100%;
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.05) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	  -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	  -ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	  -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	}
	&:after {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		-webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
		-moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
		-ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
		-o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
		transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	}
}

.donatebody {
	color: #fff;
	font-size: 1.3em;
	padding: 200px 0;
	h1 {
		margin: 0;
	}

	h1 {
		margin: 0;
		text-align: center;
		z-index: 1;
		position: relative;
	}
	.donateintro p {
		text-align: center;
		margin:0;
		line-height: 133%;
		z-index: 1;
		position: relative;
	}
}

.donatebuttons {
	position: relative;
	z-index: 1;
	ul {
		margin-top: 0px;
		text-align: center;
		list-style: none;
		&.generaldonation {
			padding-bottom: 10px;
		}
		li {
			list-style: none;
			margin-bottom: 10px;
		}
		a {
			width: 300px;
			font-weight: $boldfontweight;
		}
	}
}

.fr-list-container.is-grid {
	font-size:.8em;
}

.ss-pika {
	margin-right: 10px;
}


// Blog formatting

// Posts 

.article {
	padding: 50px 0;
}

.meta {
	font-size: 11px;
	font-style: italic;
}

.author {
	margin-left: 20px;
}

.featured-image {
	img {
		@include rounded(100%);
	}
}

.comments-row {
	border-top: 1px solid $bordercolor;
	padding: 20px 0;
	margin-top: 40px;
	ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.comment-author {
		padding: 0px;
		font-weight: $boldfontweight;
		img {
			float: left;
			margin: 0 10px 10px 0;
		}
	}
	.comment-meta {
		font-size: .9em;
	}
	.children  {
		margin-left: 40px;
	}
	.comment-body {
		margin: 20px 0;
		padding: 20px 0;
		border-bottom: 1px solid $bordercolor;
	}
}

// Leadership Section Formatting

.leader-section {
	h2 {
		font-weight: $boldfontweight;
		text-align: center;
	}
}

ul.leader-container {
	text-align: center !important;
	li.col {
		display: inline-block;
		float: none;
		min-height: 320px;
		vertical-align: top;
		&.secondary-leader {
			width: 18.25%;
			font-size: .7em;
		}
		.leadercontact {
			font-size: 1.8em;
		}
	}
	img {
		width: 100%;
		height: auto;
		@include rounded(100%);	
	}
	h3,h4 {
		font-size: 1.2em;
		font-weight: $boldfontweight;
	}
	.leader-position {
		font-size: 1em;
	}
}
	


