.noheaderimage {
  font-size: 2em;
	padding: 30px 0;
	background: $primarylightcolor;
	text-align: center;
	h1 {
		margin: 0;
	}
}

.header-content  {
	z-index: 1;
	position: absolute;
	width: 100%;
	top: 0;
}

.home-head {
	height: 92vh;
	a.bx-prev, a.bx-next {
		color: #fff !important;
	}
}

.siteid {
	h1 {
		margin: 18px 20px;
		padding: 0;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		width: 200px;
		height: 70px;
		z-index: 200;
		position: relative;
		font-size: 2em;
		a {
			display: block;
			color: #fff;
		}
	}
}

.bxslider {	
	&.slider-header {
		li {
			height: 98vh;
			display: block;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			color: #fff;
			text-align: center;
		}
		.slide-content {
			position: absolute;
			top: 50%;
		  left: 50%;
		  margin:0;
		  line-height: 120%;
		  -webkit-transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
		   text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
		}
		h2 {
			font-size: 2em;
			margin:0 0 30px 0;
			line-height: 100%;
		}
	}
}

.blurb-content {
	text-align: center;
}

.content-section {
	padding: 50px 0;
 	border-bottom: 1px solid $bordercolor;
 	h3.content-heading {
 		text-align: center;
 	}
	&.main-content-section {
		text-align: inherit;
		font-size: 1.2em;
	}
	&.general_content {
		padding: 0 0 40px 0;
	}
	&.bgimage_content_section {
		padding: 200px 0;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.videoembed {
		p {
			margin: 0; // embeds are put within p tags and need no margin to align
		}
	}
}

.bx-quote {
	padding-bottom:40px;
	font-style: italic;
	font-size: 1.6em;
	line-height: 133%;
}

.intro {
	font-size: 1.4em;
}

.cause-section {
	color: #fff;
	text-align: center;
	position:relative;
	margin:0 5% 5% 5%;	
	width: 90%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	h3 {
		color: #fff;
		text-transform: uppercase;
		display: inline-block;
	}
	p.intro {
		line-height: 130%;
		font-size: .9em;
	}
	a {
		color: #fff !important; 
		&:hover {
			 color: #fff !important;
		}
	}
	&:hover {
	    background: rgba(0, 0, 0, .6) !important;
	}
	&:after {
	  	content: "";
	  	opacity: 0.5;
	  	top: 0;
	  	left: 0;
	  	bottom: 0;
	  	right: 0;
	  	position: absolute;
	  	z-index: -1;  
	  	background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
	}
	a {
		display: block;
		padding: 140px 0;
	}
	.feature1,
	.feature2,
	.feature3,
	.feature4 {
			position: relative;
		&:hover {
			background: rgba(0, 0, 0, .6) !important;
		}
		&:after {
		 	content: "";
		  	opacity: 0.5;
		  	top: 0;
		  	left: 0;
		  	bottom: 0;
		  	right: 0;
		  	position: absolute;
		  	z-index: -1;  
		}
	}
}

// PAGES 

.page-header {
	height: 70vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	color:#fff;
	margin-top: -105px;
	position: relative;
	z-index:-10;
	h1 {
		position: absolute;
		top: 50%;
	  left: 50%;
	  margin:0;
	  font-size: 4em;
	  line-height: 120%;
	  -webkit-transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	  text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	}
}

.post-body {
	padding-top: 30px;
}

.sidebar {
	padding-top: 20px;
	h4 {
		font-size: 1em;
	}
	ul {
		list-style: none;
	}
}

// FOOTER

.footer {
	border-top: 1px solid $bordercolor;
	font-size: .8em;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin:0;
		}
	}
}

.footer-wide {
	font-size: .9em;
}

ul.social-icons {
	list-style: none;
	margin:0;
	text-align: right;
	li {
		display: inline-block;
		margin:0;
		font-size: 2em;
	}
}


// Donate Page
.donatebody {
	padding: 50px 0;
	color: #fff;
	font-size: 2em;
	height: 86vh;
	h1 {
		margin: 0;
		text-align: center;
	}
	.donateintro p {
		text-align: center;
		margin:0;
		line-height: 133%;
	}
}

.donatebuttons {
	ul {
		margin-top: 0px;
		text-align: center;
		list-style: none;
		font-size: .5em;
		&.generaldonation {
			font-size:.6em;
			padding-bottom: 10px;
		}
		li {
			list-style: none;
			margin-bottom: 10px;
		}
		a {
			width: 300px;
			font-weight: $boldfontweight;
		}
	}
}

.fr-list-container.is-grid {
	font-size:.8em;
}


// Blog formatting

// Posts 

.article {
	text-align: center;
	padding: 50px 0;
	h2 {
		margin:0;
	}
}

.meta {
		font-size: .8em;
		text-align: center;
		font-style: italic;
	}

.featured-image {
	img {
		@include rounded(100%);
	}
}

.comments-row {
	border-top: 1px solid $bordercolor;
	ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.comment-author {
		padding: 0px;
		font-weight: $boldfontweight;
		img {
			float: left;
			margin: 0 10px 10px 0;
		}
	}
	.comment-meta {
		font-size: .9em;
	}
	.children  {
		margin-left: 40px;
	}
	.comment-body {
		margin: 20px 0;
		padding: 20px 0;
		border-bottom: 1px solid $bordercolor;
	}
}


